  <div class="playground" dir="rtl">
      <div class="content" style="max-width: 60%;margin: auto;min-height: 300px;">
        <wj-grid id="CONTENT_SLOT">
          <wj-row class="gx-2">
            <wj-col size="4">
              <wj-input label="Name"></wj-input>
            </wj-col>
            
          </wj-row>
		   <wj-row class="gx-2">
            <wj-col size="4">
              <wj-input label="Display Name"></wj-input>
            </wj-col>
            
          </wj-row>
          <wj-row>
            <wj-col size="4">
              <wj-input label="Description">
                <span slot="start"><wj-icon name="description"></wj-icon></span>
                <span slot="end">.com</span>
              </wj-input>
            </wj-col>
          </wj-row>
          <wj-row class="gx-2">
            <wj-col size="4">
              <wj-input label="Data source">
                <span slot="end">&euro;</span>
              </wj-input>
            </wj-col>
            
          </wj-row>
		    <wj-row class="gx-2">
            
            <wj-col size="4">
              <wj-input label="Email"></wj-input>
            </wj-col>
          </wj-row>
		    <wj-row class="gx-2">
            
            <wj-col size="4">
              <wj-button (click)="test($event)">
          ddddddddddddddddddddddd
          </wj-button>
            </wj-col>
          </wj-row>
        </wj-grid>
      </div>
    </div>